.center{
  text-align: center !important;
}

.mainContainer{
  margin: 0px !important;
  text-align: center;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.row{
  margin: 5%;
}

.navbar{
  z-index: 1041;
  box-shadow: 0 3px 6px 0 rgba(50,50,50,.3);
  font-family: 'Josefin Sans', sans-serif;
  background-color: #abf0e9 !important;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

.navbar-content{
  color: black !important;
  font-size: 2em;
  padding-bottom: 10px;
}

.social-icons{
  margin-right: 10px;
  margin-top: 10px;
  box-sizing: border-box;
  height: 7%;
  width: 7%;
}

.uploadCard{
  width: 100%;
  display: inline-block;
}

.image{
  display: inline-block;
}


.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 2%;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

/* .btn-dark:hover{
  color: white;
  background-color: black;
} */
